{% extends "layout.html" %}

{% block body %}

<h3> CV Sayfam</h3>

<hr>

<p>
İsim Soyisim			: Seyit Ahmet BOZKURT                                      
</p><p>
Adres				: Üniversite Mahallesi Can Sokak 14/2 Avcılar/İstanbul
</p><p>	
Cep Telefonu	: 05417954086
</p><p>	
E-Posta	: fbseyit@gmail.com
</p><p>
Eğitim Durumu	:Lisans Öğrencisi		
</p><p>
Doğum Tarihi	: 29/09/1997
</p><p>
Medeni Durum	:Bekar				
</p><p>
Doğum Yeri	: KIRIKKALE
</p><p>
Toplam Tecrübe	:6 Ay				
</p><p>
Ehliyet	: B Sınıfı
</p><p>
Çalışma Durumu	:Öğrenci			
</p><p>
Ask. Durumu	: Tecilli
</p><p>
Uyruk	: Türk Vatandaşı
</p><p>
Üniversite	:İstanbul Üniversitesi-Cerrahpaşa Mühendislik Fakültesi Bilgisayar Mühendisliği Bölümü
</p><p>
Lise	:Nevzat Ayaz Anadolu Öğretmen Lisesi ÇANKIRI
</p><p>
Yabancı Dil	:İngilizce (Okuma-Yazma İyi Seviye , Konuşma Orta Seviye)  
<br>          Almanca (Başlangış Seviyesi)
</p><p>

Bilgisayar Bilgileri: 	 C ,C++ ,Java ,Html,Xml,Microsoft Office (Excell/Word/PP vb.) , MySQL, PostGreSQL,NoSQL
</p><p>
İş Deneyimleri:	Evrencell Teknoloji Çağrı Hizmeleri – Müşteri Temsilcisi Mayıs 2015-Ekim 2015 
<br><br>
Sigara Kullanımı:		Kullanmıyor
<br><br>
Hobiler	:			Tenis , Basketbol , Yürüyüş , Balık Tutma , Belgesel 


</p>

<a href="https://drive.google.com/file/d/1oKpok3nlZ3RBYIwZsPUEjTzDCQbtr3F9/view?usp=sharing">İNDİRİLEBİLİR DOSYA</a>
<hr>
<br>
<br>

{% endblock body %}

